@{
    ViewBag.Title = "Meist";
}
<h2>@ViewBag.Title.</h2>


<p>Oleme ettevõte, mis korraldab puhkust kogu Aafrikas ja Kanadas.</p>
<p>Meil on rohkem kui 4 puhkust.</p>
<p>Meie töötajad on nõutud spetsialistid üle maailma.</p>
<img src="~/Images/ppidu.jpg">
